.myProfile-page {
    width: 100%;
    position: relative;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slwlyShwngProfile 1s;
}

@keyframes slwlyShwngProfile {
    from{
        opacity: 0;
    }to{
        opacity: 1;

    }
}

